./node_modules
./packages/desktop/node_modules
./apps/server/node_modules
./apps/client/node_modules

node_modules
**/node_modules/
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.local
QWorship.code-workspace
logs/*.log
apps/server/uploads/
.env
.env.*
apps/server/uploads/presentations/
apps/server/uploads/presentations/*